@model IEnumerable<SeeNow.Models.quiz_answer>

@{
    ViewBag.Title = "新增遊戲答案";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead form ">

    <div class="col-8 align-content-center offset-2">
        <h2>新增遊戲題目</h2>
    </div>

    <form method="post" action="@Url.Action("QAAdd")">
        @Html.AntiForgeryToken()

        <div class="container align-content-center">

            <div class="form-group">

                <div class="col-md-10 col-md-offset-2 text-info">
                    <h5>文字題目：@ViewBag.Ttext</h5>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="answer_text">文字答案</label>
                <div class="col-md-10">
                    <input id="answer_text" name="answer_text" type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="is_correct">答案是否正確</label>
                <div class="col-md-10">
                    是：@Html.RadioButton("is_correct", true)
                    否：@Html.RadioButton("is_correct", false, new { @checked = true })
                </div>
            </div>

            @*<div class="col-md-10">
            <input id="quiz_guid" name="quiz_guid" type="text" value="@ViewBag.QZID" class="form-control" />
        </div>*@


            <div class="form-group">

                <div class="col-md-10 col-md-offset-2">
                    <input id="Submit1" type="submit" value="新增" class="btn btn-danger" />
                    <input id="Button1" type="button" value="取消" class="btn btn-info" onclick="location.href='@Url.Action("Index","QQA")'" />
                </div>
            </div>

        </div>
    </form>

</header>
