@model IEnumerable<SeeNow.Models.profile>

@{
    ViewBag.Title = "💖💖 SeeNow 會員註冊 💖💖";
}

<h2 style="font-size:30px;color:red">會員註冊</h2>

<p>
    @*@Html.ActionLink("註冊", "Create", "Home")*@
</p>
<table class="table">
    <tr>
        <th>            
            @*@Html.DisplayNameFor(model => model.profile_name)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.profile_path)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.profile_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profile_path)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.profile_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.profile_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.profile_id })*@
        </td>
    </tr>
}

</table>
